.articlesRow{
    display: flex;
    justify-content: space-around;
}
.UAButton{
    margin: 1px;
}
.UAButtonSee{
    margin: 1px;
    max-height: 80px;
}
.nameArticle{
    font-size: 150%;
    font-style: italic;
    color: #0a53be;
    font-weight: bold;

}