@media screen and (max-width: 540px) {
    .plug{
        display: flex;
        flex-wrap: inherit;
        font-size:400%;
        height: 100%;
        color: white;
    }
}
@media screen and (min-width: 540px) {
    .plug{
        display: none;
    }
}