.likesBlock{
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.like{
    cursor: pointer;
    font-size: 150% ;
}
.dislike{
    cursor: pointer;
    font-size: 150%;
}